# Django et DRF
Django==4.2.23
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0

# Base de données
psycopg2-binary==2.9.9
django-simple-history==3.4.0

# Sécurité
django-axes==7.1.0
django-ratelimit==4.1.0
django-cors-headers==4.3.1

# 2FA
pyotp==2.9.0
qrcode==7.4.2
Pillow==10.1.0

# Documentation API
drf-yasg==1.21.7

# Production
gunicorn==21.2.0
whitenoise==6.6.0

# Utilitaires
python-dotenv==1.0.0
requests==2.31.0

# Tests
pytest==7.4.3
pytest-django==4.7.0

